.modal-region {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: var(--wh-bg);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 10;
  &__buttons {
    @include center-flex;
    margin-top: 20px;
    gap: 20px;
  }
  &__button {
    @include mobile-min {
      text-wrap: wrap;
    }
    width: 60%;
    border-radius: 8px;
    text-wrap: nowrap;
    &:last-child {
      border: 2px solid var(--button-color);
      background-color: var(--text-active-button-color);
      color: var(--button-color);
    }
  }
}
