.modal-search__background {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.modal-search {
  @include mobile {
    max-width: calc((100vw - 320px) / (820 - 320) * (350 - 250) + 250px);
    right: calc((100vw - 320px) / (820 - 320) * (100 - 0) + 0px);
  }
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10;
  position: absolute;
  background-color: var(--wh-bg);
  top: 23px;
  right: 100px;
  width: 100%;
  max-width: 350px;
  padding: 25px 25px 15px 25px;
  &__wrapper {
    display: flex;
    border-bottom: rgba(0, 0, 0, 0.3) solid 1px;
  }
  &__input {
    width: 100%;
    padding-right: 5px;
  }
}
.active {
  opacity: 1;
  visibility: visible;
}
