<div class="modal-region active">
  <span class="text-2">Ваш город - <strong> Санкт-Петербург</strong>?</span>
  <div class="modal-region__buttons">
    <button class="modal-region__button btn-more" id="yes_region">Да</button>
    <button class="modal-region__button btn-more ">Сменить город</button>
  </div>
</div>
