<div class="modal-search__background"></div>
<div class="modal-search">
  <div class="modal-search__wrapper">
    <input class="modal-search__input" type="text" placeholder="Поиск" />
    <button class="modal-search__button">
      <svg class="icon--search modal-search__icon">
        <use href="./img/svgsprite/sprite.symbol.svg#search"></use>
      </svg>
    </button>
  </div>
</div>
