@font-face {
	font-family: geometria_medium;
	font-display: swap;
	src: url("../fonts/geometria_medium.woff2") format("woff2"), url("../fonts/geometria_medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
