.icons-wrapper {
  padding: 30px 0;
  display: flex;
  column-gap: 30px;
}

.icon {
  fill: transparent;
  stroke: transparent;
  width: 62px;
  height: 62px;
}

.mobile-nav-btn {
  z-index: 10;
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --spacing: 6px;
  --color: #000;
  --radius: 4px;
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);
  margin-right: 15px;
  opacity: 0.5;
  @include center-flex;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;

  width: var(--width);
  height: var(--line-height);

  border-radius: var(--radius);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
  top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.icon--geo {
  @include mobile {
    max-width: calc((100vw - 320px) / (820 - 320) * (24 - 15) + 15px);
    height: calc((100vw - 320px) / (820 - 320) * (24 - 15) + 15px);
  }
  fill: none;
  stroke: #000;
  max-width: 24px;
  height: 24px;
}
.icon--search {
  @include mobile {
    max-width: calc((100vw - 320px) / (820 - 320) * (24 - 15) + 15px);
    height: calc((100vw - 320px) / (820 - 320) * (24 - 15) + 15px);
  }
  fill: none;
  stroke: #000;
  max-width: 24px;
  height: 24px;
}
.icon--sberlogo-footer {
  fill: var(--logo-footer-color);
  max-width: 159px;
  width: 100%;
  max-height: 40px;
}

// .icon-green {
//   stroke: #029a55;
//   fill: transparent;
// }
// .icon-red {
//   fill: #ef1e25;
// }

// .icon--metro-logo {
  
//   max-width: 20px;
//   width: 100%;
//   max-height: 15px;
// }
