@mixin tablet () {
    @media (max-width: 1220px) {
		@content;
	}
}

@mixin mobile () {
    @media (max-width: 820px) {
		@content;
	}
}

@mixin mobile-min () {
	@media (max-width: 540px) {
		@content;
	}
}

@mixin center-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}