h1 {
  font-size: 48px;
  font-weight: 500;
  font-family: var(--font-titles);
}

h2 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--font-titles);
}
h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font-titles);
}

.text-1 {
  font-size: 18px;
  font-family: var(--font-main);
  font-weight: 400;
}
.text-2 {
  font-size: 16px;
  font-family: var(--font-main);
  font-weight: 400;
}

.text-3 {
  font-size: 14px;
  font-family: var(--font-main);
  font-weight: 400;
}

.text-4 {
  font-size: 12px;
  font-family: var(--font-main);
  font-weight: 400;
  line-height: 15.1px;
}

@include tablet {
  h1 {
    font-size: calc((100vw - 320px) / (1220 - 320) * (48 - 32) + 32px);
  }

  h2 {
    font-size: calc((100vw - 320px) / (1220 - 320) * (32 - 26) + 26px);
  }

  h3 {
    font-size: calc((100vw - 320px) / (1220 - 320) * (24 - 18) + 18px);
  }

  .text-1 {
    font-size: calc((100vw - 320px) / (1220 - 320) * (18 - 16) + 16px);
  }

  .text-2, li {
    font-size: calc((100vw - 320px) / (1220 - 320) * (16 - 14) + 14px);
  }

  .text-3 {
    font-size: calc((100vw - 320px) / (1220 - 320) * (14 - 12) + 12px);
  }
}
