:root {
  --container-width: 1200px;
  --container-padding: 15px;
  --header-height: 116px;

  --font-main: "Geometria", sans-serif;
  --font-accent: "Geometria", sans-serif;
  --font-titles: var(--font-accent);

  --header-bg: #fff;
  --wh-bg: #fff;
  --bl-bg: #000;
  --footer-bg: var(--header-bg);
  --page-bg: #f2f4f7;
  --text-color: #000;
  --button-color-wh: #fff;
  --button-color: #00d36d;
  --button-active-color: var(--button-color);
  --text-active-button-color: #fff;
  --logo-footer-color: #1A9F29;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}
