.apple-music-info {
  padding: 50px 0 50px;
  .container {
    @include center-flex;
    flex-direction: column;
  }
  &__sub-title {
    margin-bottom: 5px;
    opacity: 0.5;
    u {
      text-decoration: none;
      border-bottom: 1px solid #00000038;
      padding-bottom: 2px;
    }
  }
  h1{
    text-align: center;
  }
  &__info-card {
    margin-top: 40px;
    width: 100%;
    background-color: var(--wh-bg);
    border-radius: 30px 30px 8px 8px;
  }
  .promo {
    @include mobile{
      padding: 20px 20px 20px;
    }
    padding: 20px 50px 50px;
    &__title {
      @include tablet {
        font-size: calc((100vw - 320px) / (1220 - 320) * (20 - 18) + 18px);
      }
      font-weight: 500;
      font-size: 20px;
      opacity: 0.5;
      text-align: center;
    }
    &__description {
      @include tablet {
        font-size: calc((100vw - 320px) / (1220 - 320) * (20 - 16) + 16px);
      }
      @include mobile-min {
        margin-top: calc((100vw - 320px) / (540 - 320) * (40 - 20) + 20px);
      }
      margin-top: 40px;
      margin-bottom: 15px;
    }
    &__list {
      @include mobile-min {
        margin-left: calc((100vw - 320px) / (540 - 320) * (45 - 10) + 10px);
      }
      margin-left: 45px;
    }
    &__item {
      list-style: disc;
      line-height: 36px;
      &::marker {
        padding-right: 5px;
        color: #00000050;
      }
    }
    &__step{
      line-height: 36px;
    }
    &__personal-data{
      @include tablet {
        font-size: calc((100vw - 320px) / (1220 - 320) * (16 - 14) + 14px);
      }
      margin-top: 30px;
      line-height: 27px;
    }
    &__links{
      margin: 24px 0 64px;
    }
    &__first-link{
      margin-bottom: 15px;
    }
    &__link{
      color: var(--button-color);
      border-bottom: 1px solid var(--button-color);
    }
    &__small-text{
      opacity: 0.5;
      line-height: 18px;
      .promo__link{
        border: none;
      }
    }
  }
}
