.location {
  padding-bottom: 120px;
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 50px;
    img {
      max-width: 70px;
      max-height: 70px;
    }
  }
  &__cards {
    margin-bottom: 40px;
    @include center-flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__card {
    position: relative;
    padding: 15px;
    display: flex;
    border: 2px dotted #000000;
    border-radius: 8px;
    max-width: 376px;
    width: 100%;
    line-height: 24px;
    &-logo {
      img {
        max-width: 30px;
        max-height: 30px;
        margin-right: 15px;
      }
    }
    &-info {
      margin-bottom: 21px;
    }
    &-metro {
      display: flex;
      gap: 5px;
      img {
        max-width: 20px;
        max-height: 20px;
      }
    }
    p {
      margin-bottom: 5px;
    }
    &-link-apple {
      color: var(--button-color);
      border-bottom: 1px solid var(--button-color);
    }
    &-btn_route {
      position: absolute;
      bottom: 15px;
      right: 15px;
      opacity: 0.5;
      border-bottom: 1px solid #000000fb;
    }
  }
  &__map {
    background-image: url(/img/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 250px;
  }
}
