<section class="all-partners-offers">
  <div class="container">
    <div class="offers-bonuses">
      <div class="offers-bonuses__wrapper">
        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/bk-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/bk-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/bk-120.png"
            alt="BurgerKing"
          />
        </picture>
        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/5-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/5-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/5-120.png"
            alt="5"
          />
        </picture>

        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/rep-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/rep-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/rep-120.png"
            alt="republik"
          />
        </picture>

        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/meg-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/meg-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/meg-120.png"
            alt="megaphone"
          />
        </picture>

        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/ivi-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/ivi-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/ivi-120.png"
            alt="ivi"
          />
        </picture>
      </div>
    </div>
    <h3 class="all-partners-offers__name text-2">Скидки за бонусы</h3>
    <div class="all-partners-offers__double-block">
      <div class="block">
        <div class="offers-bonuses__wrapper">
          <div class="block-percent">
            <picture>
              <source
                media="(max-width: 799px)"
                srcset="./img/all-partners/healthy-90.png"
              />
              <source
                media="(min-width: 800px)"
                srcset="./img/all-partners/healthy-120.png"
              />
              <img
                class="all-partners-offers__image"
                src="./img/all-partners/healthy-120.png"
                alt="Healthy"
              />
            </picture>

            <span class="percent text-1">3%</span>
          </div>
          <div class="block-percent">
            <picture>
              <source
                media="(max-width: 799px)"
                srcset="./img/all-partners/5-90.png"
              />
              <source
                media="(min-width: 800px)"
                srcset="./img/all-partners/5-120.png"
              />
              <img
                class="all-partners-offers__image"
                src="./img/all-partners/5-120.png"
                alt="5"
              />
            </picture>
            <span class="percent text-1">1,5%</span>
          </div>
          <div class="block-percent">
            <picture>
              <source
                media="(max-width: 799px)"
                srcset="./img/all-partners/lit-90.png"
              />
              <source
                media="(min-width: 800px)"
                srcset="./img/all-partners/lit-120.png"
              />
              <img
                class="all-partners-offers__image"
                src="./img/all-partners/lit-120.png"
                alt="Litres"
              />
            </picture>

            <span class="percent text-1">5%</span>
          </div>
        </div>
        <h3 class="all-partners-offers__name text-2">Большой % начисления</h3>
      </div>
      <div class="block">
        <div class="offers-bonuses__wrapper">
          <div>
            <picture>
              <source
                media="(max-width: 799px)"
                srcset="./img/all-partners/dishes-90.png"
              />
              <source
                media="(min-width: 800px)"
                srcset="./img/all-partners/dishes-120.png"
              />
              <img
                class="all-partners-offers__image"
                src="./img/all-partners/dishes-120.png"
                alt="dishes"
              />
            </picture>
          </div>
          <div>
            <picture>
              <source
                media="(max-width: 799px)"
                srcset="./img/all-partners/lamoda-90.png"
              />
              <source
                media="(min-width: 800px)"
                srcset="./img/all-partners/lamoda-120.png"
              />
              <img
                class="all-partners-offers__image"
                src="./img/all-partners/lamoda-120.png"
                alt="lamoda"
              />
            </picture>
          </div>
          <div>
            <picture>
              <source
                media="(max-width: 799px)"
                srcset="./img/all-partners/my-toys-90.png"
              />
              <source
                media="(min-width: 800px)"
                srcset="./img/all-partners/my-toys-120.png"
              />
              <img
                class="all-partners-offers__image"
                src="./img/all-partners/my-toys-120.png"
                alt="my-toys"
              />
            </picture>
          </div>
        </div>
        <h3 class="all-partners-offers__name text-2">Выгодные купоны</h3>
      </div>
    </div>
    <div class="offers-bonuses">
      <div class="offers-bonuses__wrapper">
        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/ozon-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/ozon-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/ozon-120.png"
            alt="ozon"
          />
        </picture>

        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/tez-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/tez-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/tez-120.png"
            alt="tez-tour"
          />
        </picture>
        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/booking-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/booking-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/booking-120.png"
            alt="booking"
          />
        </picture>
        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/sber-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/sber-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/sber-120.png"
            alt="sber"
          />
        </picture>
        <picture>
          <source
            media="(max-width: 799px)"
            srcset="./img/all-partners/trip-90.png"
          />
          <source
            media="(min-width: 800px)"
            srcset="./img/all-partners/trip-120.png"
          />
          <img
            class="all-partners-offers__image"
            src="./img/all-partners/trip-120.png"
            alt="tripster"
          />
        </picture>
      </div>
    </div>
    <h3 class="all-partners-offers__name text-2">
      Персональное исходя из трат
    </h3>
  </div>
</section>
