<section class="discount-offers">
  <div class="container">
    <h2>3 предложения в категории «Электроника и <br />бытовая техника»</h2>
    <div class="discount-offers__items">
      <div class="discount-offers__item">
        <img src="./img/offer-1.png" alt="" class="discount-offers__image" />
        <div class="discount-offers__info">
          <img
            src="./img/technopark.png"
            class="discount-offers__logo"
            alt=""
          />
          <div class="wrapper">
            <span class="discount-offers__brand text-3">Технопарк</span>
            <p class="discount-offers__description text-1">
              20% спасибо за технику Electrolux
            </p>
          </div>
        </div>
      </div>
      <div class="discount-offers__item">
        <img src="./img/offer-2.png" alt="" class="discount-offers__image" />
        <div class="discount-offers__info">
          <img src="./img/evroset.png" class="discount-offers__logo" alt="" />
          <div class="wrapper">
            <span class="discount-offers__brand text-3">Евросеть</span>
            <p class="discount-offers__description text-1">
              10% спасибо за покупку в черную <br />
              пятницу
            </p>
          </div>
        </div>
      </div>
      <div class="discount-offers__item">
        <img src="./img/offer-3.png" alt="" class="discount-offers__image" />
        <div class="discount-offers__info">
          <img src="./img/m-video.png" class="discount-offers__logo" alt="" />
          <div class="wrapper">
            <span class="discount-offers__brand text-3">М.Видео</span>
            <p class="discount-offers__description text-1">
              15% спасибо для студентов
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="btn-more discount-offers__button text-1 ">
      Еще 4 предложения
    </button>
  </div>
</section>
