<section class="main-screen">
  <div class="container">
    <h1 class="title-1">Партнеры и предложения</h1>
    @@include("sorting-offers.html")
    <div class="main-screen__cards-partner accept-thanks">
      <a href="\apple-music.html" class="card">
        <h3>169 спасибо</h3>
        <p class="text-4">169 спасибо</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/apple.png" alt="" />
          <p class="text-2">Apple Music</p>
        </div>
      </a>
      <a href="" class="card">
        <h3>1,5%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/m-video.png" alt="" />
          <p class="text-2">М.Видео</p>
        </div>
      </a>
    </div>

    <div class="main-screen__cards-partner credit-thanks active">
      <a href="" class="card">
        <h3>1,5%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/m-video.png" alt="" />
          <p class="text-2">М.Видео</p>
        </div>
      </a>
      <a href="" class="card">
        <h3>3%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/bur-king.png" alt="" />
          <p class="text-2">Бургер Кинг</p>
        </div>
      </a>
      <a href="" class="card">
        <h3>4,5%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/technopark.png" alt="" />
          <p class="text-2">Холодильник.ру</p>
        </div>
      </a>
      <a href="" class="card">
        <h3>От 1,5%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/bork.png" alt="" />
          <p class="text-2">BORK</p>
        </div>
      </a>
      <a href="" class="card">
        <h3>1,5%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/evroset.png" alt="" />
          <p class="text-2">Евросеть</p>
        </div>
      </a>
      <a href="" class="card hidden">
        <h3>От 1,5%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/bork.png" alt="" />
          <p class="text-2">BORK</p>
        </div>
      </a>
      <a href="" class="card hidden">
        <h3>От 1,5%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/bork.png" alt="" />
          <p class="text-2">BORK</p>
        </div>
      </a>
      <a href="" class="card hidden">
        <h3>От 1,5%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/bork.png" alt="" />
          <p class="text-2">BORK</p>
        </div>
      </a>
      <a href="" class="card hidden">
        <h3>От 1,5%</h3>
        <p class="text-4">Спасибо от суммы покупки</p>
        <div class="card-partner__wrapper">
          <img class="card__img" src="./img/bork.png" alt="" />
          <p class="text-2">BORK</p>
        </div>
      </a>
    </div>
    <button id="button-more-partn" class="btn-more main-screen__button text-1">
      Еще 4 партнера
    </button>
  </div>
</section>
