<ul class="main-screen__row text-1">
  <li><button class="btn-item">Все партнеры</button></li>
  <li><button class="btn-item">Популярные</button></li>
  <li><button class="btn-item">Супермаркеты</button></li>
  <li><button class="btn-item">Кафе и рестораны</button></li>
  <li><button class="btn-item">Такси</button></li>
  <li><button class="btn-item">Красота</button></li>
  <li>
    <button class="btn-item active">Электроника и бытовая техника</button>
  </li>
  <li><button class="btn-item">Зоотовары</button></li>
  <li><button class="btn-item">Кино и театр</button></li>
  <li><button class="btn-item">· · ·</button></li>
</ul>
<div class="toggle-switch">
  <span class="toggle-switch__label--left text-1" id="left-text">
    Начисляют <br />
    спасибо
  </span>
  <label class="toggle-switch__wrapper">
    <input
      type="checkbox"
      class="toggle-switch__checkbox"
      id="toggle-checkbox"
    />
    <span class="toggle-switch__slider"></span>
  </label>
  <span class="toggle-switch__label--right text-1 text-green" id="right-text">
    Принимают <br />
    спасибо
  </span>
</div>
