.footer {
  background-color: var(--footer-bg);
  padding: 40px 0;
  .container {
    @include mobile-min {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    display: flex;
    justify-content: space-between;
  }
  &__right {
    @include mobile {
      max-width: 303px;
      width: 100%;
    }
    margin-left: 20px;
  }
  &__left {
    @include mobile-min {
      text-align: center;
    }
  }
  &__nav {
    @include mobile {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
      @include tablet {
        gap: calc((100vw - 320px) / (1220 - 320) * (30 - 10) + 10px);
      }
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      width: 100%;
      max-width: 873px;
    }
  }
  &__number {
    @include mobile-min {
      margin-bottom: 20px;
    }
    margin-bottom: 55px;
    .text-3 {
      opacity: 0.5;
    }
  }
  &__mobile-link {
    display: flex;
  }
  &__copyright {
    @include mobile-min {
      margin-top: 20px;
    }
    margin-top: 30px;
    opacity: 0.5;
  }
  &__media {
    @include mobile {
      flex-direction: column;
      margin-top: 20px;
    }
    @include mobile-min {
      align-items: center;
      justify-content: center;
    }
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__mobile-link {
    gap: 10px;
    img {
      @include mobile-min {
        max-width: 110px;
        max-height: 33px;
      }
      max-width: 130px;
      max-height: 40px;
    }
  }
  &__social-link {
    @include mobile {
      margin-top: 55px;
      a {
        max-width: calc((100vw - 320px) / (820 - 320) * (40 - 30) + 30px);
      }
    }
    @include mobile-min {
      margin-top: 20px;
    }
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__policy {
    @include mobile-min {
      text-align: center;
      margin-top: 20px;
    }

    margin-top: 30px;
    opacity: 0.5;
  }
}
