.header {
  padding: 18px 0;
  background-color: var(--header-bg);
  @include center-flex;

  &__row {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }
  &__logo {
    @include tablet {
      max-width: calc((100vw - 320px) / (1220 - 320) * (180 - 110) + 110px);
    }
    width: 100%;
    max-width: 180px;
  }

  &__nav {
    margin-left: 35px;
    @include mobile {
      display: none;
    }
    &__list {
      
      @include tablet {
        gap: calc((100vw - 320px) / (1220 - 320) * (20 - 10) + 10px);
        max-width: calc((100vw - 320px) / (1220 - 320) * (750 - 400) + 400px);
      }
      @include mobile {
  
    }
      width: 100%;
      gap: 20px;
      display: flex;
      max-width: 750px;
      flex-wrap: wrap;
      li {
        opacity: 0.5;
        width: fit-content;
        border: 1px solid transparent;
        transition: all 0.2s ease-in;
        &:hover {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          opacity: 1;
        }
      }
    }
  }

  &__btns {
    @include tablet {
      margin-left: calc((100vw - 820px) / (1220 - 820) * (57 - 10) + 10px);
    }
    margin-left: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn-city {
      display: flex;
      align-items: center;
      opacity: 0.5;
      text-wrap: nowrap;
    }
    &__wrapp {
      display: flex;
      align-items: center;
      margin-top: 18px;
      .btn-login {
        @include mobile {
          margin-left: calc((100vw - 320px) / (820 - 320) * (20 - 10) + 10px);
        }
        margin-left: 20px;
        color: var(--button-color);
        border: 1px solid var(--button-color);
        padding: 8px 23px;
        border-radius: 8px;
      }
    }
  }
}
