.mobile-nav-btn {
  display: none;
  @include mobile {
    display: block;
  }
}

.mobile-nav {
  @include center-flex;
  flex-direction: column;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 5;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in;
  &--open {
    top: 0;
  }

  & a {
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
    color: #fff;
  }

  &__list {
	text-align: center;
    padding: 0 15px;
    @include center-flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: calc((100vw - 320px) / (1220 - 320) * (28 - 20) + 20px);

    & .active {
      opacity: 0.5;
    }
  }
}
