<section class="apple-music-info">
  <div class="container">
    <p class="apple-music-info__sub-title text-3">
      <u>Скидочные купоны</u> · <u>Развлечения</u>
    </p>
    <h1>
      Apple Music за СПАСИБО
    </h1>
    <div class="apple-music-info__info-card">
      <picture>
        <!-- <source
          media="(max-width: 799px)"
          srcset="./img/apple-picture-800.png"
        /> -->
        <source media="(min-width: 800px)" srcset="./img/apple-picture.png" />
        <img src="./img/apple-picture.png" alt="Apple on device" />
      </picture>
      <div class="promo text-1">
        <p class="promo__title">
          С 17 Декабря 2018 г. по 17 Декабря 2019 г.
        </p>
        <p class="promo__description">
          Обменивайте 169 СПАСИБО на месяц подписки в Apple Music и
          наслаждайтесь любимой музыкой без перерыва.
        </p>
        <ul class="promo__list">
          <li class="promo__item">
            Получите доступ к миллионам альбомов, исполнителей и песен
          </li>
          <li class="promo__item">Эксклюзивный и оригинальный контент</li>
          <li class="promo__item">
            Вы можете отказаться от подписки в любой момент
          </li>
          <li class="promo__item">
            Скачивайте любимую музыку и слушайте офлайн
          </li>
        </ul>
        <p class="promo__description">
          <strong>Как использовать промо-код:</strong>
        </p>
        <ol class="promo__list">
          <li class="promo__step">
            Откройте приложение «Музыка» и введите существующий Apple ID и
            пароль для входа в учетную запись. <br />(Если у вас нет Apple ID,
            вам будет предложено его создать).
          </li>
          <li class="promo__step">
            Нажмите на «3 месяца бесплатно» (специальное предложение для новых
            пользователей).
          </li>
          <li class="promo__step">
            Выберите индивидуальную подписку и нажмите «3 месяца бесплатно».
          </li>
          <li class="promo__step">Перейдите в учетную запись.</li>
          <li class="promo__step">Нажмите «Использовать код».</li>
          <li class="promo__step">Введите 12-значный код.</li>
          <li class="promo__step">
            Получите сообщение с подтверждением использования кода.
          </li>
        </ol>
        <p class="promo__personal-data">
          Под персональными данными в целях настоящих Правил понимаются
          персональные данные Участников Акции и иных лиц - субъектов
          персональных данных как они определены в Законе «О персональных
          данных». Под обработкой персональных данных в настоящих
          <b>Правилах понимается любое действие</b> (операция), совершаемое в
          целях проведения Акции, или совокупность действий(операций),
          совершаемых с использованием средств автоматизации или без
          использования таких средств с персональными данными, включая сбор,
          запись, систематизацию, накопление, хранение, уточнение (обновление,
          изменение), извлечение, использование, передачу (распространение,
          предоставление, доступ), обезличивание, блокирование, удаление,
          уничтожение персональных данных, предоставленных Участником Акции
          Банку/ Уполномоченной Компании.
        </p>
        <div class="promo__links">
          <p class="promo__first-link">
            <a class="promo__link">Подробнее об Apple Music для Android</a>
          </p>
          <p><a class="promo__link">Правила акции</a></p>
        </div>
        <p class="promo__small-text text-4">
          Только при оформлении индивидуальной подписки. По окончании пробного
          периода подписка будет продлена автоматически. 4 месяца бесплатно
          только для новых подписчиков. Срок действия кода истекает 31 января
          2020 года. Это промокод, который не подлежит перепродаже, обмену на
          денежный эквивалент и замене в случае кражи или потери. Предложение
          действительно при оформлении индивидуальной подписки на Apple Music на
          территории Российской Федерации. Требуется учетная запись iTunes.
          Применяются соответствующие условия <a href="" class="promo__link">(подробнее)</a>.
          Промокодом может воспользоваться лицо старше 13 лет, чье
          местоположение совпадает со страной/регионом магазина, в котором
          активируется код. Требуются совместимые продукты и сервисы. Apple
          Music — зарегистрированная торговая марка Apple. Apple не является
          участником или спонсором этой промоакции.
        </p>
      </div>
    </div>
  </div>
</section>
