<section class="location">
  <div class="container">
    <div class="location__logo">
      <img src="./img/apple.png" alt="" />
      <h3 class="">Apple Music</h3>
    </div>
    <div class="location__cards">
      <div class="location__card text-2">
        <div class="location__card-logo">
          <img src="./img/apple.png" alt="" />
        </div>
        <div class="location__card-info">
          <p>Москва, ул. Большая Татарская, 21</p>
          <div class="location__card-metro">
            <img src="./img/metro-logo-green.svg" alt="" />
            <p>Маяковская</p>
            <img src="./img/metro-logo-red.svg" alt="" />
            <p>Лубянка</p>
          </div>
          <p>+7 495 220-30-44</p>
          <p>Ежедневно с 09:00 до 21:00</p>
          <a class="location__card-link-apple" href="">apple.com</a>
        </div>
        <button class="location__card-btn_route text-4">
          Проложить маршрут
        </button>
      </div>
      <div class="location__card text-2">
        <div class="location__card-logo">
          <img src="./img/apple.png" alt="" />
        </div>
        <div class="location__card-info">
          <p>Москва, ул. Большая Татарская, 21</p>
          <div class="location__card-metro">
            <img src="./img/metro-logo-green.svg" alt="" />
            <p>Маяковская</p>
            <img src="./img/metro-logo-red.svg" alt="" />
            <p>Лубянка</p>
          </div>
          <p>+7 495 220-30-44</p>
          <p>Ежедневно с 09:00 до 21:00</p>
          <a class="location__card-link-apple" href="">apple.com</a>
        </div>
        <button class="location__card-btn_route text-4">
          Проложить маршрут
        </button>
      </div>
      <div class="location__card text-2">
        <div class="location__card-logo">
          <img src="./img/apple.png" alt="" />
        </div>
        <div class="location__card-info">
          <p>Москва, ул. Большая Татарская, 21</p>
          <div class="location__card-metro">
            <img src="./img/metro-logo-green.svg" alt="" />
            <p>Маяковская</p>
            <img src="./img/metro-logo-red.svg" alt="" />
            <p>Лубянка</p>
          </div>
          <p>+7 495 220-30-44</p>
          <p>Ежедневно с 09:00 до 21:00</p>
          <a class="location__card-link-apple" href="">apple.com</a>
        </div>
        <button class="location__card-btn_route text-4">
          Проложить маршрут
        </button>
      </div>
    </div>
    <div class="location__map">
      <!-- <img src="./img/map.png" alt="" /> -->
    </div>
  </div>
</section>
