<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <div class="footer__number">
        <h2>900</h2>
        <p class="text-3">По России бесплатно</p>
      </div>
      <div class="footer__logo">
        <svg class="icon icon--sberlogo-footer">
          <use href="./img/svgsprite/sprite.symbol.svg#sberlogo-footer"></use>
        </svg>
      </div>
      <div class="footer__copyright text-3">
        © 1997—2019 ПАО Сбербанк.
      </div>
    </div>
    <div class="footer__right">
      <nav class="footer__nav">
        <ul class="footer__nav__list text-1">
          <li><a href="">Купоны и сертификаты</a></li>
          <li><a href="">Впечатления</a></li>
          <li><a href="">Авиабилеты</a></li>
          <li><a href="">Ж/д билеты</a></li>
          <li><a href="">Отели</a></li>
          <li><a href="">Каршеринг</a></li>
          <li><a href="">Театры</a></li>
          <li><a href="">Страхование</a></li>
          <li><a href="">Как подключиться</a></li>
          <li><a href="">Партнёры</a></li>
        </ul>
      </nav>
      <div class="footer__media">
        <div class="footer__mobile-link">
          <img src="./img/google-play.svg" alt="" />
          <img src="./img/app-store.svg" alt="" />
        </div>
        <div class="footer__social-link">
          <a href=""><img src="./img/ok.svg" alt=""/></a>
          <a href=""><img src="./img/fb.svg" alt=""/></a>
          <a href=""><img src="./img/vk.svg" alt=""/></a>
          <a href=""><img src="./img/inst.svg" alt=""/></a>
        </div>
      </div>
      <p class="footer__policy text-3">
        Политика АО «ЦПЛ» в отношении обработки персональных данных и Согласие
        на обработку данных участника Программы <br />
        «Спасибо от Сбербанка»
      </p>
    </div>
  </div>
</footer>
