<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__logo">
        <img src="./img/logo-header.png" alt="" />
      </div>
      <nav class="header__nav">
        <ul class="header__nav__list text-1">
          <li><a href="">Купоны и сертификаты</a></li>
          <li><a href="">Впечатления</a></li>
          <li><a href="">Авиабилеты</a></li>
          <li><a href="">Ж/д билеты</a></li>
          <li><a href="">Отели</a></li>
          <li><a href="">Каршеринг</a></li>
          <li><a href="">Театры</a></li>
          <li><a href="">Страхование</a></li>
          <li><a href="">Как подключиться</a></li>
          <li><a href="/index.html">Партнёры</a></li>
        </ul>
      </nav>
      
      <div class="header__btns">
        
        <button class="btn-city text-3">
          <svg class="icon icon--geo">
            <use href="./img/svgsprite/sprite.symbol.svg#geo"></use>
          </svg>
          Санкт-Петербург
        </button>
        @@include('modal-header/modal-region.html')
        <div class="header__btns__wrapp">
          <button class="btn-search">
            <svg class="icon icon--search">
              <use href="./img/svgsprite/sprite.symbol.svg#search"></use>
            </svg>
          </button>
          @@include('modal-header/modal-search.html')
          <button class="btn-login text-3">Войти</button>
        </div>
      </div>
    </div>
  </div>
  @@include('mobile-nav.html')
</header>
