<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>TestGarpix</title>
	<link rel="stylesheet" href="./css/main.css" />
	<script defer src="./js/index.bundle.js"></script>
</head>