<button class="mobile-nav-btn">
  <div class="nav-icon"></div>
</button>
<div class="mobile-nav">
  <ul class="mobile-nav__list">
    <li><a href="">Купоны и сертификаты</a></li>
    <li><a href="">Впечатления</a></li>
    <li><a href="">Авиабилеты</a></li>
    <li><a href="">Ж/д билеты</a></li>
    <li><a href="">Отели</a></li>
    <li><a href="">Каршеринг</a></li>
    <li><a href="">Театры</a></li>
    <li><a href="">Страхование</a></li>
    <li><a href="">Как подключиться</a></li>
    <li><a href="/index.html">Партнёры</a></li>
  </ul>
</div>
