.all-partners-offers {
  padding: 120px 0 160px;
  .container {
    @include center-flex;
    flex-direction: column;
  }
  .offers-bonuses {
    @include center-flex;
    flex-direction: column;
    &__wrapper {
      @include mobile-min{
        flex-wrap: wrap;
        justify-content: center;
      }
      background-color: var(--wh-bg);
      border-radius: 79px;
      padding: 19px;
      display: flex;
      gap: 10px;
      .block-percent {
        position: relative;
        .percent {
          @include center-flex;
          border-radius: 50%;
          font-weight: 600;
          color: var(--wh-bg);
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 50px;
          max-width: 50px;
          background-color: var(--bl-bg);
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }
      }
      &:hover {
        .percent {
          opacity: 1;
        }
      }
    }
  }
  &__image {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
  }
  &__name {
    @include mobile {
      padding: 0 10px 10px 10px;
      text-wrap: wrap;
      text-align: center;
      max-width: 160px;
    }
    font-weight: 600;
    padding: 0 19px 15px 19px;
    border-radius: 0 0 30px 30px;
    background-color: var(--wh-bg);
  }
  &__double-block {
    @include mobile-min {
      flex-direction: column;
    }
    margin: 40px 0;
    display: flex;
    gap: 40px;
    .block {
      @include center-flex;
      flex-direction: column;
    }
  }
  &__double-block {
    display: flex;
    gap: 40px;
  }
}
