.discount-offers {
  .container {
    @include center-flex;
    flex-direction: column;

    h2 {
      text-align: center;
      margin-bottom: 40px;
    }
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }
  &__info {
    @include center-flex;
    justify-content: normal;
    margin-top: 15px;
  }
  &__item {
    @include mobile-min {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
  &__image {
    @include mobile-min {
      max-width: fit-content;
      max-height: calc((100vw - 320px) / (540 - 320) * (236 - 180) + 180px);
    }
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 236px;
  }
  &__logo {
    @include mobile-min {
      max-width: calc((100vw - 320px) / (540 - 320) * (50 - 40) + 40px);
      max-height: calc((100vw - 320px) / (540 - 320) * (50 - 40) + 40px);
    }
    width: 100%;
    height: 100%;
    max-width: 50px;
    margin-right: 15px;
  }
  &__brand {
    opacity: 0.5;
  }
  &__description {
    margin-top: 4px;
  }
}
