.main-screen {
  padding: 70px 0 120px;
  .container {
    @include center-flex;
    flex-direction: column;
  }

  &__row {
    margin: 50px 0 30px;
    max-width: 885px;
    @include center-flex;
    flex-wrap: wrap;
    gap: 8px;
    .btn-item {
      background-color: var(--button-color-wh);
      padding: 12px 16px;
      border-radius: 8px;
      &.active {
        background-color: var(--button-active-color);
        color: var(--text-active-button-color);
      }
    }
  }
  .toggle-switch {
    display: flex;
    align-items: center;
    gap: 24px;
    &__label--left,
    &__label--right {
      user-select: none;
      cursor: pointer;
      text-align: center;
      color: var(--text-color);
    }
    .text-green {
      color: var(--button-color);
    }
    &__wrapper {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 24px;
    }
    &__checkbox {
      opacity: 0;
      width: 0;
      height: 0;
    }
    &__slider {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid #e4e6e9;
      background-color: var(--wh-bg);
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 2px;
        background-color: var(--button-color);
        border-radius: 50%;
        transition: 0.4s;
      }
    }
    .toggle-switch__checkbox:checked + .toggle-switch__slider {
      background-color: var(--button-color);
    }

    .toggle-switch__checkbox:checked + .toggle-switch__slider:before {
      transform: translateX(24px);
      background-color: var(--wh-bg);
    }
  }

  &__cards-partner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
    gap: 20px;
    margin: 60px 0 40px;
    width: 100%;
    justify-content: center;

    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--wh-bg);
      padding: 20px;
      border-radius: 8px;
      transition: opacity 0.3s, visibility 0.3s;
      
      &.show {
        visibility: visible;
        display: grid;
        opacity: 1;
      }

      &.hidden {
        opacity: 0;
        visibility: hidden;
        display: none;
      }

      .text-4 {
        margin: 5px 0 27px;
        opacity: 0.4;
      }
      &-partner__wrapper {
        @include center-flex;
        flex-direction: column;

        .text-2 {
          opacity: 0.5;
          line-height: 20px;
          margin-top: 35px;
        }
      }

      &__img {
        width: 120px;
        height: 120px;
      }
    }
  }
  .accept-thanks {
    opacity: 0;
    display: none;
  }
  .accept-thanks.active {
    opacity: 1;
    display: grid;
  }
  .credit-thanks {
    opacity: 0;
    display: none;
  }
  .credit-thanks.active {
    opacity: 1;
    display: grid;
  }
}

.btn-more {
  background-color: var(--button-color);
  color: var(--wh-bg);
  padding: 12px 16px;
  border-radius: 8px;
}
